{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
<h1>Some heading </h1>
<p class="important">
    Devices
</p><br>

<div id="node0">
    <label class="switch">
        <input id="D0" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
    &emsp13;
    <label class="switch">
        <input id="D1" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
    &emsp13;
    <label class="switch">
        <input id="D2" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
    &emsp13;
    <label class="switch">
        <input id="D3" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
    &emsp13;
    <label class="switch">
        <input id="D4" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
</div>
{% endblock %}