{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
<h1>Devices </h1><br>
<p>Node 0</p>
<div id="node0" class="nodes">
    <label class="switch">
        <input id="D0" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
    &emsp13;
    <label class="switch">
        <input id="D1" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
    &emsp13;
    <label class="switch">
        <input id="D2" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
    &emsp13;
    <label class="switch">
        <input id="D3" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
    &emsp13;
    <label class="switch">
        <input id="D4" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
</div>
<br><br>
<p>Node 1</p>
<div id="node1" class="nodes">
    <label class="switch">
        <input id="D0" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
    &emsp13;
    <label class="switch">
        <input id="D1" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
    &emsp13;
    <label class="switch">
        <input id="D2" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
    &emsp13;
    <label class="switch">
        <input id="D3" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
    &emsp13;
    <label class="switch">
        <input id="D4" type="checkbox" onclick="check_input(this)">
        <div class="slider"></div>
    </label>
</div>

<br><br>
<p>Cameras</p>
<div class="cam">
    <button id="cam1" class="button button5" onclick=setcam(this)>CAM 1</button>
    <button id="cam2" class="button button5" onclick=setcam(this)>CAM 2</button>
    <button id="cam3" class="button button5" onclick=setcam(this)>CAM 3</button>
    <br><img id="live_feed" src="" alt="" width="50%">
</div><br>
{% endblock %}